<div class="container">

  <div [hidden]="submitted">
    <h1>Enter Email Form</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="enterEmailForm">

      <!--<div class="form-group" formGroupName="details">-->
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control"
               id="email" name="email"
               formControlName="email"
               #spy >

        <div [hidden]="enterEmailForm.valid || enterEmailForm.pristine">
          <div *ngIf = "!emailCtrl.value.required">
            <span style="color: red">Required</span>
          </div>
          <div *ngIf = "!emailCtrl.valid.minLength">
            <span style="color: red">Too Short!</span>
          </div>
        </div>

        <br>TODO: remove this: {{spy.className}}
        <br>
        <div *ngIf = "!emailCtrl.valid.required">Test emailCtrl NOT Valid</div>

        <p> valid: {{ emailCtrl.valid }}</p>
        <p> value: {{ emailCtrl.value }}</p>

        <h3>Form value:</h3>
        <pre>{{value}}</pre>

      </div>

      <!--<button type="submit" class="btn btn-default" [disabled]="!enterEmailForm.form.valid">Submit</button>-->
      <button type="submit" class="btn btn-default" [disabled]="!enterEmailForm.valid">Submit</button>

      <div [hidden]="enterEmailForm.pristine">
        <p>Not Pristine</p>
      </div>

      <div [hidden]="enterEmailForm.valid || enterEmailForm.pristine">
        <p>Not Valid</p>
      </div>

      <p>enterEmailForm value:</p>
      {{ enterEmailForm.value | json }} <br>

      <p>diagnostic value:</p>
      {{ diagnostic }}

    </form>
  </div>

  <div [hidden]="!submitted">

    <h2>Thank you.</h2>
    <p>You have entered:</p>

    <div class="row">
      <div class="col-xs-3">email</div>
      <div class="col-xs-9  pull-left">{{ diagnostic }}</div>
    </div>

  </div>

  <!--<form [formGroup]="myForm">-->
    <!--<div formGroupName="name">-->
      <!--<input formControlName="first" #spy>-->
      <!--<br>TODO: remove this: {{spy.className}}-->
      <!--<input formControlName="last">-->
    <!--</div>-->
    <!--<button type="submit" class="btn btn-default">Submit</button>-->
  <!--</form>-->

  <!--{{ myForm.value | json }}-->

</div>
